[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index-core = "*"
llama-index-utils-workflow = "*"
llama-index-llms-openai = "*"
llama-parse = "*"
llama-index-embeddings-openai = "*"
llama-index-readers-whisper = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.12"
