[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-httpauth = "==4.8.0"
geopandas = "==1.0.1"
matplotlib = "*"
numpy = "==2.0.0"
openpyxl = "==3.1.5"
pydash = "==8.0.1"
python-dotenv = "==1.0.1"
python-dateutil = "==2.9.0.post0"
randomcolor = "==0.4.4.6"
werkzeug = "==3.0.3"
wordcloud = "==1.9.3"
gunicorn = "*"
pypdf2 = "*"
jsonify = "*"
pdfquery = "*"
flask-autoindex = "*"
pylint = "*"
langchain = "*"
opencv-python = "*"
pymupdf = "*"
isort = "*"
fiona = "*"
ncat-api = "*"
regex = "*"
pyarrow = "*"
mplcursors = "*"
utm = "*"
xlsxwriter = "*"
webdriver-manager = "*"
selenium = "*"
folium = "*"
flask = "*"
autoindex = "*"
html2image = "==2.0.5"
nicegui = "*"
langchain-openai = "*"
pypdf = "*"
langchain-community = "*"
openai = "*"
pdf2image = "*"
pytesseract = "*"
pillow = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
